.Contacto {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .3fr 1fr 1fr .8fr;
}

.Contacto .bloque {
    width: 100%;
    height: 150px;
    background: rgba(204,46,55);
    align-self: center;
}

.Contacto h2 {
    align-self: center;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.Contacto form {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr .5fr 2fr 1.4fr;
    /* border: 1px solid black; */
    padding: 20px;
    padding-top: 10px;
    box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.192);
}

.Contacto form h3 {
    grid-column: 1/3;
}

.Contacto form input, .Contacto form textarea {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.151);
}

.Contacto form label:nth-child(2), .Contacto form input:nth-child(4) {
    margin-right: 15px;
}

.Contacto form label:nth-child(3), .Contacto form input:nth-child(5) {
    margin-left: 15px;
}

.Contacto form label {
    font-size: 13px;
    align-self: flex-end;
    color: rgba(0, 0, 0, 0.637);
}

.Contacto form input {
    height: 20px;
    align-self: center;
    outline: none;
}

.Contacto form label:nth-child(6) {
    grid-column: 1/3;
    align-self: flex-start;
}

.Contacto form textarea {
    grid-column: 1/3;
    outline: none;
}

.Contacto form button {
    border: none;
    border-radius: 5px;
    background: rgb(10, 10, 36);
    color: white;
    margin-top: 15px;
}

.Contacto .info {
    background: rgba(204,46,55);
    color: white;
    padding: 20px;
    padding-top: 10px;
    box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.192);
}

.Contacto .info h3 {
    font-weight: 100;
}

.Contacto .info p {
    font-size: 12px;
}

@media screen and (max-width: 750px) {

    .Contacto {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: .3fr 1fr;
    }
    .Contacto form {
        grid-column: 1/3;
        margin: 10px 10px;
    }
    .Contacto .info {
        grid-column: 1/3;
        margin: 10px 10px;
    }

}