footer {
    display: grid;
    grid-template-columns: 30px 8fr 1.5fr .5fr 40px;
    width: 100%;
    margin:100px 0 0 0;
    padding: 0;
    border-top: 1px solid #ffffff10;
}

footer p {
    grid-column: 2/3;
    font-size: 17px;
    color: #94867c;
    padding: 0;
    margin: 20px;
}

footer p a {
    text-decoration: none;
    color: #efe5dd;
    font-weight: bold;
}

footer .socialFooter {
    grid-column: 3/4;
    align-self: center;
}

footer .socialFooter a{
    margin: 10px;
    color: #efe5dd;
}

footer button {
    grid-column: 4/5;
    background: none;
    border: none;
    outline: none;
}

footer button i{
    color:  #efe5dd;
    font-size: 30px;
    height: 30px;
    width: 30px;
    align-self: center;
}

@media screen and (max-width: 750px) {

    footer {
        display: block;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 120px;
        margin: 0;
        padding: 0;
        border-top: 1px solid #ffffff10;
    }

    footer p {
        text-align: center;
    }

    footer .socialFooter {
        justify-self: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    footer button {
        margin-top:10px;
        position: absolute;
        right: 50%;
        transform: translate(50%);
        /* grid-row: 1 / 2; */
    }

}