.Presentacion {
    margin-top: 100px;
    color: #efe5dd;
    margin-left: 70px;
}
.Presentacion h4 {
    font-size: 20px;
    letter-spacing: 4px;
}

.Presentacion h5 {
    margin-top: 40px;
    font-size: 37px;
    letter-spacing: 4px;
}

@media screen and (max-width: 1100px) {
    .Presentacion h4 {
        font-size: 16px;
        letter-spacing: 3px;
    }
    .Presentacion h5 {
        margin-top: 32px;
        font-size: 30px;
        letter-spacing: 3px;
    }
}