.Presentacion video {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.Presentacion > div {
    color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.Presentacion h1 {
    align-self: flex-end;
    font-size: 70px;
}

.Presentacion p:nth-child(1) {
    font-size: 31px;
    margin-bottom: 0;
}

.Presentacion p:nth-child(2) {
    margin-top: 5px;
}

.Presentacion button {
    color: white;
    display: block;
    margin: auto;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 7px 40px;
    margin-top: 10px;
    background: rgba(204,46,55);
    font-size: 15px;
}

.Presentacion .subtitulo h2 {
    font-size: 35px;
}

.Presentacion .subtitulo {
    position: absolute;
    height: 100px;
    bottom: 0;
    right: 0;
    background: rgba(204,46,55);
    padding: 15px 40px 15px 70px;
    border-radius: 65px 0 0 65px;
    transform: translateY(140%);
    box-shadow: -0px 0px 25px 0 black;
}