.Seccion {
    color: #efe5dd;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    margin: 100px 40px 100px 60px;
}

.Seccion i {
    text-align: center;
    align-self: center;
    font-size: 45px;
}

.Seccion p {
    color : #94867c;
    margin-right: 30px;
    font-size: 18px;
    line-height: 25px;
}