.SliderFotos h1, .SliderFotos h3, .SliderFotos .linea, .SliderFotos .marco, .SliderFotos p {
    position: absolute;
    
}

.SliderFotos h1, .SliderFotos h3, .SliderFotos .linea, .SliderFotos p, .marco{
    color: #efe5dd;
    z-index: 100;
}

.SliderFotos .container {
    margin-left: 200px;
    width: 95%;
    overflow: hidden;
}

.SliderFotos .container ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: change 20s infinite alternate;
}

.SliderFotos .container li {
    list-style: none;
    width: 100%;
}

.SliderFotos {
    padding-top: 10px;
    margin-top: 0;
    height: 50vmax;
}

.SliderFotos .img{/* 
    left: 54%; *//* 
    transform: translate(-40%); */
    width: 59.5%;
}

.SliderFotos .marco {
    margin-top:2%;
    left: 50%;
    transform: translate(-26%);
    width: 45%;
}

.SliderFotos h1 {
    text-align: right;
    font-size: 7.5vw;
    right: 6%;
}
.SliderFotos h3 {
    margin-top:25%;
    text-align: right;
    font-size: 1.5vw;
    right: 6%;
}

.SliderFotos p {
    margin-top:-38%;
    text-align: right;
    font-size: 2.3vw;
    right: 52%;
}

.SliderFotos p a {
    text-decoration: none;
    color: #efe5dd;
}

.SliderFotos .linea {
    right: 41%;
    background: #efe5dd;
    width: 8.5vw;
    margin-top:39.2%;
    height: 1px;
    border: 1px solid #efe5dd;
}

@keyframes change {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/* @media screen and (max-width: 1240px) {

    .SliderFotos {
        margin-top: 20px;
        height: 58vmax;
    }

    .SliderFotos .img{
        left: 43%;
        width: 55%;
    }

    .SliderFotos .marco {
        margin-top:2%;
        left: 38%;
        transform: translate(-26%);
        width: 55%;
    }

    .SliderFotos h1 {
        font-size: 8vw;
        right: 8%;
        margin-top: 12%;
    }

    .SliderFotos h3 {
        margin-top:34%;
        font-size: 1.8vw;
        right: 8%;
    }

    .SliderFotos p {
        margin-top:45%;
        font-size: 3vw;
        right: 61%;
    }

    .SliderFotos .linea {
        right: 47%;
        width: 11vw;
        margin-top:46.6%;
    }
    
}

@media screen and (max-width: 750px) {
    .SliderFotos {
        margin-top: 70px;
    }
} */