.Tarjetas {
    display: inline-block;
    height: 233px;
    width: 220px;
    margin: 50px 35px;
}

.Tar {
    margin: auto;
}

.Tar .Tarjetas h3::after {
    content: "";
    margin: 18px auto 0 auto;
    position: relative;
    display: block;
    width: 80px;
    height: 3px;
    border-radius: 10px;
    background: rgba(66, 64, 64, 0.712);
}


.Tarjetas h3{
    text-align: center;
    color: #000000;
    font-size: 25px;
    letter-spacing: 2px;
}

.Tarjetas p{
    color: rgba(66, 64, 64, 0.712);
    font-size: 12px;
    line-height: 24px;
}
.Tarjetas a {
    text-decoration: none;
}

.Tarjetas img {
    display: block;
    margin: auto;
    width: 70px;
}

/* 
@media screen and (max-width: 1030px) {
    .Tarjetas {
        width: 120px;
    }

    .Tarjetas:hover {
        width: 118px;
    }

    .Tarjetas img {
        height: 40px;
    }

    .Tarjetas h3{
        margin: 35px 0;
        font-size: 20px;
    }

    .Tarjetas p{
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 782px) {
    .Tarjetas {
        width: 120px;
    }

    .Tarjetas:hover {
        width: 118px;
    }

    .Tarjetas img {
        height: 40px;
    }

    .Tarjetas h3{
        margin: 35px 0;
        font-size: 20px;
    }

    .Tarjetas p{
        font-size: 14px;
        line-height: 24px;
    }
} */
