body {
  padding-left: 250px;
  background: #1b1b1d;
  margin: 0;
  font-family: "Asap", Arial, Tahoma, sans-serif;
}

/* #efe5dd */
@media screen and (max-width: 1240px){
  body {
    padding-left: 10%;
  }
}