body {
  background: #ffffff;
  margin: 0;
  font-family: "Asap", Arial, Tahoma, sans-serif;
}

@font-face {
  font-family: segoe;
  src: url(./fonts/Segoe-UI.ttf);
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inicio .presentacion {
  width: 100%;
  background: rgb(4, 8, 46);
}

.inicio .content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* #efe5dd */
@media screen and (max-width: 750px){
  .inicio .content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}